* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #4b0082;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.form-section, .products-section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products-section {
    width: 50%;
    max-height: 50vh;
    overflow-y: auto;
}

.form-section {
    width: 25%;
}

footer {
    background-color: #4b0082;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.card img {
    max-width: 50px;
    border-radius: 5px;
}

.card-container--info p {
    margin: 0;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .form-section, .products-section {
        width: 90%;
    }
}

